html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero, .footer {
  background-color: rgb(31, 41, 55);
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  width: 100%;
  position: fixed;
  background-color: #E5E7EB;
  border-bottom: 1px solid black;
}

.logoContainer {
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.logo {
  height: 35px;
  border: 2px solid #3882f6;
  border-radius: 250px;
}

ul {
  list-style: none;
  margin: 0%;
  padding: 0%;
  padding-right: 30px;
  display: flex;
  width: 250px;
  justify-content: space-between;
  font-size: 18px; 
  color: #1F2937;
}

.hero {
  padding: 5% 0% 2.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
}

.hero-container{
  max-width: 1000px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid #F9FAF8;
  border-radius: 200px;
  background-image: radial-gradient(black, #1F2937);
  background-color: #1F2937;
  flex: 1 1 auto;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 315px;
  padding-left: 100px;
}

.title {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.subtext {
  font-size: 24px;
  color: #E5E7EB;
}

p {
  margin: 0px;
}

button {
  background-color: #3882f6;
  color: #F9FAF8;
  font-weight: 700;
  font-size: 18px;
  padding: 8px 30px;
  border: 0px;
  border-radius: 10px;
  width: 70px;
  box-sizing: content-box;
}

button:hover {
  background-color: #2d63ba;
  cursor: pointer;
}

button:active {
  background-color: #639fff;
  cursor: pointer;
}

.top-image {
  max-width: 350px;
  justify-content: center; 
  margin: 0px;
  flex: 1 1 auto;
  border: 15px solid #3882f6;
  border-radius: 250px;
}

.wrapper {
  background-image: url(./images/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-color: gray;
  flex: 1 1 auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.content-container {
  max-width: 1500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #1F2937;
  background-color: rgba(240, 240, 240, 0.85);
  border-radius: 25px;
  flex: 1 1 auto;
}

.content-title {
  font-size: 36px;
  color: #1F2937;
  font-weight: 800;
  padding-bottom: 30px;
  flex: 1 1 auto;
}

.content-item {
  gap: 80px;
  display: flex;
  flex-flow: wrap;
  flex: 1 1 auto;
}

.img-container {
  max-width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.con-img {
  max-height: 125px;
  border-radius: 50%;
  border: 5px solid #3882f6;
  background-color: #ffffff;
}

.con-img:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px #6a9cee;
}

.text {
  max-width: 180px;
  text-align: center;
  font-size: 24px;
  color: #1F2937;
}

.imgSubtext {
  max-width: 180px;
  text-align: center;
  font-size: 18px;
  color: #1F2937;
}

.quote {
  background-color: #E5E7EB;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.quote-main {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1F2937;
  max-width: 1250px;
  flex: 1 1 auto;
}

.quoters-container {
  display: flex;
  justify-content: flex-end;
  width: 1250px;
  max-width: 1300px;
  padding-top: 25px;
  flex: 1 1 auto;
}

.quoters {
  font-size: 30px;
  font-weight: bolder;
}

.action {
  display: flex;
  justify-content: center;
  padding: 100px 250px;
}

.action-content {
  background-color: rgba(56, 130, 246, 0.85);
  box-sizing: content-box;
  width: 800px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 5px solid #1F2937;
  border-radius: 10px;
}

.action-title {
  font-size: 24px;
  font-weight: bolder;
  color: #E5E7EB;
}

.action-sub {
  font-size: 18px;
  color: #E5E7EB;
  margin-top: 5px;
}

.action-button {
  border: 2px solid #E5E7EB;
  font-size: 18px;
  padding: 0px;
  height: 35px;
  width: 150px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1% 0;
  font-size: 18px;
  color: #E5E7EB;
  border-top: 2px solid black;
}