body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero, .footer {
  background-color: #1F2937;
}

.hero {
  padding: 20px 250px 125px;
}

.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px; 
  color: #F9FAF8;
  font-weight: 700;
}

ul {
  list-style: none;
  margin: 0%;
  padding: 0%;
  display: flex;
  width: 500px;
  justify-content: space-between;
  font-size: 18px; 
  color: #E5E7EB;
}

.hero-content {
  display: flex;
  height: 250px;
  justify-content: center; 
  margin: 100px 0 0;
  gap: 75px;
}

.main-text {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.subtext {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  background-color: #3882f6;
  color: #F9FAF8;
  font-weight: 700;
  font-size: 18px;
  padding: 8px 30px;
  border: 0px;
  border-radius: 10px;
  width: 70px;
  box-sizing: content-box;
}

.top-image {
  border-radius: 25px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-title {
  font-size: 36px;
  color: #1F2937;
  font-weight: 800;
  padding: 25px 0;
}

.content-item {
  display: flex;
  flex-flow: wrap;
  gap: 25px;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.con-img {
  max-height: 125px;
  border-radius: 25px;
  border: 5px solid #3882f6;
}

.text {
  max-width: 200px;
  text-align: center;
}